BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
InsertBraces: true
